@import "../styles/resets";
@import "../styles/variables";

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name)
}

@mixin style($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin theme($light-theme:true) {
    background: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
}

@mixin mobile {
    @media (max-width:$mobile-width) {
        flex-direction: column;
    }
}

body {
    background-color: $accent-color;
    color: $text-color;
    font-weight: weight(regular);
}

#Maindiv1 {
    @include style(row);

    @include mobile 
}

// #div1 {
//     width: 80%;
//     margin: 0 auto;

//     p {
//         color: aliceblue;
//         font-weight: map-get($font-weights, medium);
//     }
// }

#div1 {
    background-color: brown;

    #{&}1 {
        font-size: 12px;
        color: blueviolet;
    }

    p:hover {
        color: pink
    }
    #{&}2{
        @extend #div1;
        p:hover{
            color:red;
        }
    }
}

.light {
    @include theme(true)
}